@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom fonts from Studio Alt */
@font-face {
  font-family: 'AktivGrotesk-Light';
  src: url('/fonts/AktivGrotesk-Light.WOFF') format('woff');
}

@font-face {
  font-family: 'AktivGrotesk-Regular';
  src: url('/fonts/AktivGrotesk-Regular.WOFF') format('woff');
}

@font-face {
  font-family: 'AktivGrotesk-Medium';
  src: url('/fonts/AktivGrotesk-Medium.WOFF') format('woff');
}

@font-face {
  font-family: 'AktivGrotesk-Bold';
  src: url('/fonts/AktivGrotesk-Bold.WOFF') format('woff');
}

@font-face {
  font-family: 'Morion-Light';
  src: url('/fonts/Morion-Light.WOFF') format('woff');
}

@font-face {
  font-family: 'Morion-Regular';
  src: url('/fonts/Morion-Regular.WOFF') format('woff');
}

@font-face {
  font-family: 'Morion-UltraLight';
  src: url('/fonts/Morion-UltraLight.WOFF') format('woff');
}
